@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?6dqka2');
  src:  url('fonts/icomoon.eot?6dqka2#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?6dqka2') format('truetype'),
    url('fonts/icomoon.woff?6dqka2') format('woff'),
    url('fonts/icomoon.svg?6dqka2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Cart-Icon .path1:before {
  content: "\e902";
  color: rgb(0, 0, 0);
}
.icon-Cart-Icon .path2:before {
  content: "\e903";
  margin-left: -0.671875em;
  color: rgb(255, 255, 255);
}
.icon-Cart-Icon .path3:before {
  content: "\e904";
  margin-left: -0.671875em;
  color: rgb(0, 0, 0);
}
.icon-La-Collection-LogoArtboard-1:before {
  content: "\e900";
}
.icon-damoy_final_logo:before {
  content: "\e901";
}
