.mobile-menu {
  background: white;
  font-size: 11px;
  height: 100%;
  left: 0;
  overflow-y: hidden;
  padding-left: 6.2rem;
  padding-top: 12rem;
  position: absolute;
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  width: 100%;
  z-index: 120; }
  @media (min-width: 576px) {
    .mobile-menu {
      display: none; } }
  .mobile-menu.is-active {
    top: 0;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    z-index: 120; }
	