html {
  box-sizing: border-box;
  height: 100%; }

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  position: relative;
  min-height: 100%; }

.damoy__container {
  display: flex;
  flex-direction: column;
  padding-bottom: 7.4em;
  padding-top: 2.1em; }
  .damoy__container.index-page {
    overflow-y: hidden;
    height: 100vh; }
  @media (min-width: 576px) {
    .damoy__container {
      flex-direction: row;
      padding-top: 4.7em;
      padding-bottom: 0;
      height: 100%; } }

.footer {
  background: white;
  bottom: 0;
  display: flex;
  flex-direction: row;
  padding: 0 5em 1.1em;
  position: absolute;
  width: 100%; }
  .footer .eupopup-container-bottom {
    bottom: 0;
    top: inherit; }
    @media (min-width: 576px) {
      .footer .eupopup-container-bottom {
        top: 0; } }
  @media (min-width: 576px) {
    .footer {
      padding-top: 3em; } }

.footer p {
  font-size: .7em;
  text-transform: uppercase; }
  @media (min-width: 576px) {
    .footer p {
      font-size: .8em;
      letter-spacing: .1em; } }

.footer__made-by {
  color: rgba(0, 0, 0, 0.2); }

.footer__aligned {
  flex: 0 1 auto; }

.footer__aligned--right {
  margin-left: auto; }

.footer__aligned--left,
.footer__aligned--right {
  display: none; }

@media (min-width: 576px) {
  .footer__aligned--left,
  .footer__aligned--right {
    display: block; } }

.sidebar {
  flex: 0 1 auto;
  padding-left: 2.4em;
  position: relative;
  white-space: nowrap; }
  @media (min-width: 576px) {
    .sidebar {
      padding-left: 5em; } }

.main-content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
  padding: 2.9em 1em 0;
  position: relative; }
  @media (min-width: 576px) {
    .main-content {
      flex-direction: row;
      margin-top: 0;
      height: 100%;
      padding-right: 5em;
      padding-top: 0; } }

.content__pages {
  color: #303030;
  font-size: .82em;
  flex: 1 1 auto;
  align-self: center; }
  .content__pages h1 {
    font-size: 13px;
    letter-spacing: .2em;
    text-transform: uppercase;
    margin-bottom: 1.7em; }
    @media (min-width: 576px) {
      .content__pages h1 {
        font-size: .82em;
        margin-bottom: 1rem; } }
  .content__pages p {
    letter-spacing: .1em;
    line-height: 1.2;
    font-size: 12px; }
    @media (min-width: 576px) {
      .content__pages p {
        font-size: .82em; } }
  .content__pages a {
    color: #303030; }

.pages__column {
  flex: 0 1 auto;
  margin-bottom: 1rem; }
  @media (min-width: 576px) {
    .pages__column {
      margin-bottom: 0; } }

.pages--about {
  margin-top: -5px;
  max-width: 180px;
  width: 100%; }
  @media (min-width: 576px) {
    .pages--about {
      margin-top: 0;
      max-width: 48.5em;
      padding-left: 1.5rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); } }

.pages--store,
.pages--assistance {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  @media (min-width: 576px) {
    .pages--store,
    .pages--assistance {
      flex-direction: row; } }

.pages--store .pages__column {
  margin-bottom: 0;
  width: 180px; }
  @media (min-width: 576px) {
    .pages--store .pages__column {
      width: initial; } }

@media (min-width: 768px) {
  .pages--store .pages__column:first-of-type {
    margin-right: 2rem; } }

@media (min-width: 992px) {
  .pages--store .pages__column:first-of-type {
    margin-right: 5rem; } }

@media (min-width: 1500px) {
  .pages--store .pages__column:first-of-type {
    margin-right: 11.25rem; } }

@media (min-width: 768px) {
  .pages--store .pages__column:last-of-type {
    margin-left: 2rem; } }

@media (min-width: 992px) {
  .pages--store .pages__column:last-of-type {
    margin-left: 5rem; } }

@media (min-width: 1500px) {
  .pages--store .pages__column:last-of-type {
    margin-left: 11.25rem; } }

.pages--assistance p {
  margin-bottom: 1rem; }

.pages--assistance h1 {
  letter-spacing: .1em; }

.pages--assistance .pages__column {
  width: 180px; }
  @media (min-width: 576px) {
    .pages--assistance .pages__column {
      width: 15em;
      margin-left: 3em;
      margin-right: 3em;
      padding: 0; } }

.pages--lookbook {
  display: flex;
  flex-direction: column;
  margin-left: -1em;
  margin-right: -1em; }
  @media (min-width: 576px) {
    .pages--lookbook {
      margin-left: 0;
      margin-right: 0;
      margin: 3px 0 75px;
      max-width: 480px;
      flex-direction: row;
      flex-wrap: wrap; } }
  .pages--lookbook div {
    flex: 0 1 auto;
    display: block; }
  .pages--lookbook div:nth-child(4n), .pages--lookbook div:nth-child(4n-1) {
    width: 37%; }
  .pages--lookbook div:nth-child(4n-2), .pages--lookbook div:nth-child(4n-3) {
    width: 63%;
    margin-left: auto; }
  @media (min-width: 576px) {
    .pages--lookbook div:nth-child(4n), .pages--lookbook div:nth-child(4n-1) {
      width: 50%; }
    .pages--lookbook div:nth-child(4n-2), .pages--lookbook div:nth-child(4n-3) {
      width: 50%;
      margin-left: 0; }
    .pages--lookbook div {
      margin-top: -3px; }
    .pages--lookbook div:nth-child(odd) {
      padding-right: 1px; }
    .pages--lookbook div:nth-child(even) {
      padding-left: 1px; } }

.menu {
  font-size: .75em;
  position: relative;
  display: none;
  z-index: 120; }
  @media (min-width: 576px) {
    .menu {
      display: block; } }

.menu-link {
  color: #95989A;
  letter-spacing: .1em;
  line-height: 1.6;
  font-size: 1em;
  text-transform: uppercase;
  transition: .2s color; }

.brand-link {
  color: black;
  font-size: 1.5em; }

.menu-link:hover {
  color: black;
  transition: .2s color; }

.menu-item {
  margin-bottom: .8em; }

.menu-group {
  margin-bottom: 5.9em; }

.menu-dropdown.is-collapsed {
  display: none; }

.menu-dropdown {
  margin-top: .8em; }

.mobile-menu {
  background: white;
  font-size: 12px;
  height: 100%;
  left: 0;
  overflow-y: hidden;
  padding-left: 6.2rem;
  padding-top: 6.2rem;
  position: absolute;
  top: -100%;
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  width: 100%;
  z-index: 120; }
  @media (min-width: 576px) {
    .mobile-menu {
      display: none; } }
  .mobile-menu.is-active {
    top: 0;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    z-index: 120; }

.product__columns {
  flex: 0 1 auto;
  font-size: 0;
  padding-left: 1rem;
  max-width: 40rem; }
  @media (min-width: 576px) {
    .product__columns {
      padding-right: 1rem; } }

.assistance__columns {
  display: flex;
  flex-direction: column;
  max-width: 75rem;
  margin-left: auto;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap; }
  @media (min-width: 576px) {
    .assistance__columns {
      flex-direction: row; } }

.assistance__column {
  flex: 1 0 auto;
  max-width: 18.75rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  width: 100%; }
  .assistance__column h1,
  .assistance__column p {
    font-size: .82rem;
    margin-bottom: 1rem; }
  .assistance__column h1 {
    text-transform: uppercase; }

.store__location {
  margin-bottom: 2.5rem; }
  @media (min-width: 576px) {
    .store__location {
      margin-bottom: 3rem; } }
  @media (min-width: 1500px) {
    .store__location {
      margin-bottom: 5rem; } }

td {
  padding: .1rem; }
  td img {
    vertical-align: bottom; }

td:nth-child(odd) {
  text-align: right; }

td:nth-child(even) {
  text-align: left; }

.clearfix {
  clear: both; }

.eupopup-container {
  background-color: transparent;
  color: #efefef;
  font-size: .8rem;
  letter-spacing: .1rem;
  text-align: center;
  display: none;
  z-index: 9999999; }

.eupopup-container-top,
.eupopup-container-fixedtop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0; }

.eupopup-container-fixedtop {
  position: fixed; }

.eupopup-container-bottom {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%; }

.eupopup-container-bottomleft {
  position: fixed;
  bottom: 10px;
  left: 10px;
  width: 300px; }

.eupopup-container-bottomright {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 300px; }

.eupopup-closebutton {
  color: black;
  padding: 0 1rem; }

.eupopup-closebutton:hover,
.eupopup-closebutton:active {
  color: black;
  text-decoration: none; }

.eupopup-head {
  color: black;
  font-size: 12px; }
  @media (min-width: 576px) {
    .eupopup-head {
      position: absolute;
      bottom: 12px;
      left: 50%;
      transform: translateX(-50%); } }

.eupopup-body {
  color: #a2a2a2; }

.eupopup-buttons {
  padding: 7px 0 5px 0; }

.eupopup-button_1 {
  color: #f6a21d;
  font-weight: bold;
  font-size: 14px; }

.eupopup-button_2 {
  color: #f6a21d;
  font-weight: normal;
  font-size: 12px; }

.eupopup-button {
  margin: 0 10px; }

.eupopup-button:hover,
.eupopup-button:focus {
  text-decoration: underline;
  color: #f6a21d; }

body .eupopup-color-inverse {
  color: #000;
  background-color: rgba(255, 255, 255, 0.9); }

body .eupopup-color-inverse .eupopup-head {
  color: #000; }

body .eupopup-style-compact {
  text-align: left;
  padding: 8px 30px 7px 20px;
  line-height: 15px; }

body .eupopup-style-compact .eupopup-head,
body .eupopup-style-compact .eupopup-body,
body .eupopup-style-compact .eupopup-buttons {
  display: inline;
  padding: 0;
  margin: 0; }

body .eupopup-style-compact .eupopup-button {
  margin: 0 5px; }

.product__container {
  max-width: 67.5rem; }
  @media (min-width: 576px) {
    .product__container {
      margin: 0 0 0 auto; } }
  .product__container.show-on-desktop {
    display: none; }
    @media (min-width: 576px) {
      .product__container.show-on-desktop {
        display: flex; } }
  .product__container.show-on-mobile {
    padding-right: 30px;
    padding-left: 30px;
    display: flex;
    flex-direction: column; }
    @media (min-width: 576px) {
      .product__container.show-on-mobile {
        display: none; } }

.product__element {
  padding: 0 2.5rem; }
  @media (min-width: 576px) {
    .product__element {
      display: flex;
      flex-direction: column; } }
  .product__element:first-of-type {
    padding-left: 0; }
  .product__element:last-of-type {
    padding-right: 0; }

.product__info {
  display: block;
  flex: 1 1 auto; }
  @media (min-width: 576px) {
    .product__info {
      margin-bottom: 5rem;
      max-width: 26.25rem;
      max-height: 45rem;
      padding-top: 6.8rem;
      position: relative; }
      .product__info.product__info--extra-info {
        padding-top: 0; } }

.product__title {
  font-size: 1.25rem;
  letter-spacing: .2rem;
  margin-bottom: 1rem;
  text-transform: uppercase; }

.product__price,
.product__description,
.product__cart--btn {
  font-size: .81rem;
  letter-spacing: .1rem;
  margin-bottom: 1rem; }

.product__price .currency-symbol {
  padding-right: .4rem; }

.product__description {
  margin-bottom: 3.6rem; }

.product__image--container {
  flex: 1 1 auto;
  margin-bottom: 5rem;
  max-height: 45rem;
  overflow: hidden; }

.button.product__cart--btn {
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 0;
  color: #303030;
  height: 40px;
  font-size: 13px;
  width: 100%;
  flex: 0 1 auto;
  max-width: 130px; }
  @media (min-width: 576px) {
    .button.product__cart--btn {
      max-width: 6.5rem;
      height: 30px; } }
  .button.product__cart--btn:hover, .button.product__cart--btn:active, .button.product__cart--btn:focus {
    background: white;
    border-color: rgba(0, 0, 0, 0.7);
    color: rgba(0, 0, 0, 0.7); }
  .button.product__cart--btn:last-of-type {
    margin-left: auto; }
    @media (min-width: 576px) {
      .button.product__cart--btn:last-of-type {
        margin-left: 20px; } }

.add-cart-form {
  display: flex; }

.product__image--carousel {
  width: 18.4rem;
  margin: 20px auto;
  text-align: center;
  position: relative;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 100%;
  flex-wrap: wrap;
  height: 25rem;
  overflow: hidden; }
  .product__image--carousel .slide {
    display: flex;
    flex: 1 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
  .product__image--carousel img {
    display: block;
    margin: auto; }
  .product__image--carousel .prev-arrow,
  .product__image--carousel .next-arrow {
    color: black;
    position: absolute;
    cursor: pointer;
    height: 100%;
    z-index: 100;
    width: 40px; }
  .product__image--carousel .prev-arrow {
    left: 0; }
  .product__image--carousel .next-arrow {
    right: 0; }
  .product__image--carousel .arrow {
    width: 40px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    left: 0; }

.product__details {
  display: none;
  text-align: center; }
  @media (min-width: 576px) {
    .product__details {
      text-align: left;
      padding-top: 25px; } }
  .product__details.show {
    display: block; }
  .product__details p {
    line-height: 2;
    letter-spacing: .1em; }
    @media (min-width: 576px) {
      .product__details p {
        line-height: normal;
        margin-bottom: 16px; } }
  .product__details a {
    color: #303030;
    display: inline-block;
    padding: 3px 0; }
    .product__details a:hover {
      color: rgba(48, 48, 48, 0.5); }

.product-info__menu {
  border-bottom: 1px solid #95989A;
  display: flex;
  padding: 10px 0;
  margin: 30px 0 10px; }
  @media (min-width: 576px) {
    .product-info__menu {
      border-bottom: 0;
      margin-top: 0;
      padding-top: 0; } }

.product-info__menu-item {
  color: rgba(48, 48, 48, 0.5);
  flex: 1 1 auto;
  font-size: 12px;
  letter-spacing: .1em;
  text-align: center; }
  @media (min-width: 576px) {
    .product-info__menu-item {
      flex: 0 1 auto;
      margin-left: 11px;
      margin-right: 11px; }
      .product-info__menu-item:first-of-type {
        margin-left: 0; }
      .product-info__menu-item:last-of-type {
        margin-right: 0; } }
  .product-info__menu-item:hover {
    color: #303030; }
  .product-info__menu-item.active {
    color: #303030; }

.modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  z-index: -1;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in, z-index 400ms ease-in;
  -moz-transition: opacity 400ms ease-in, z-index 400ms ease-in;
  transition: opacity 400ms ease-in, z-index 400ms ease-in; }
  @media (min-width: 576px) {
    .modalDialog.show-on-mobile {
      display: none; } }
  .modalDialog.show-on-desktop {
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    height: 100%;
    width: 100%; }

.modalDialog:target {
  opacity: 1;
  pointer-events: auto; }

.modalDialog > div {
  width: 180px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: transparent; }

.button.modal--btn {
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 0;
  color: #303030;
  display: block;
  height: 40px;
  line-height: 2.5;
  letter-spacing: .1em;
  font-size: 12px;
  width: 100%;
  max-width: 178px;
  margin-bottom: 40px; }
  .button.modal--btn:hover {
    background: white;
    border-color: rgba(0, 0, 0, 0.7);
    color: rgba(0, 0, 0, 0.7); }
  .button.modal--btn:active {
    background: white;
    border-color: rgba(0, 0, 0, 0.7);
    color: rgba(0, 0, 0, 0.7); }

.modal__text {
  text-align: center;
  letter-spacing: .1em;
  margin-bottom: 40px; }

body.modal-open {
  overflow: hidden;
  position: fixed; }
  @media (min-width: 576px) {
    body.modal-open {
      position: relative;
      overflow: auto; } }

.cart-content {
  padding-left: 3.2em;
  padding-right: 3.2em; }

.gui-page-title {
  display: none; }

.gui a {
  margin-right: 15px; }

.gui a.gui-button-large.gui-button-action {
  background: transparent;
  border-color: rgba(0, 0, 0, 0.5);
  border-radius: 0;
  color: black;
  font-size: 12px;
  height: 40px;
  line-height: 40px;
  letter-spacing: .1em; }

.gui-table {
  border: none; }

.gui-progressbar ul {
  background: white; }

.share-dropdown-container {
  display: inline-block;
  margin-left: 22px;
  position: relative; }

.share-dropdown {
  margin-top: 10px;
  position: absolute;
  display: none; }
  .share-dropdown a {
    color: black;
    letter-spacing: .1em; }

.burger-nav {
  cursor: pointer;
  display: block;
  height: 40px;
  position: relative;
  width: 40px;
  z-index: 130; }
  @media (min-width: 576px) {
    .burger-nav {
      display: none; } }

.burger-nav__bar {
  background: black;
  display: inline-block;
  left: 50%;
  height: 1px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: background 0s 0.3s;
  width: 20px; }
  .burger-nav__bar:after, .burger-nav__bar:before {
    background: black;
    content: '';
    display: inline-block;
    height: 1px;
    position: absolute;
    transition-property: top, transform;
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s;
    width: 20px; }
  .burger-nav__bar:after {
    top: 6px; }
  .burger-nav__bar:before {
    top: -6px; }

.burger-nav.is-active .burger-nav__bar {
  background: transparent; }

.burger-nav.is-active .burger-nav__bar:before,
.burger-nav.is-active .burger-nav__bar:after {
  transition-delay: 0s, 0.3s; }

.burger-nav.is-active .burger-nav__bar:before {
  top: 0;
  transform: rotate(45deg); }

.burger-nav.is-active .burger-nav__bar:after {
  top: 0;
  transform: rotate(-45deg); }

.homepage-image {
  margin-left: auto;
  margin-right: 2.2em;
  max-width: 235px; }
  @media (min-width: 576px) {
    .homepage-image {
      margin-right: 0;
      margin-top: 5px;
      height: 100%;
      position: relative;
      right: 0;
      top: 0;
      text-align: right;
      max-width: 100%; } }
  .homepage-image img {
    height: auto;
    width: 100%; }
    @media (min-width: 576px) {
      .homepage-image img {
        height: 100%;
        width: auto; } }

.product-image {
  display: block;
  margin-left: auto;
  margin-right: 1.7rem;
  margin-bottom: .625rem;
  max-width: 14.7rem; }
  .product-image.product-image--large {
    max-width: 14.7rem;
    display: block; }

@media (min-width: 576px) {
  .product-image {
    display: inline-block;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 0;
    max-width: 20rem;
    padding: .05rem;
    width: 50%; }
    .product-image.product-image--large {
      margin-bottom: 6.5rem;
      max-width: 25rem;
      width: 100%; } }

.brand-name {
  color: black;
  display: block;
  font-size: 1.18rem;
  left: 2.5rem;
  letter-spacing: .2rem;
  position: absolute;
  text-transform: uppercase;
  top: 50%;
  transform: translateY(-50%); }

.mobile-brand {
  color: black;
  display: block;
  position: absolute;
  letter-spacing: .2rem;
  font-size: 16px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

@media (min-width: 576px) {
  .mobile-brand,
  .brand-name {
    display: none; } }

.cookie-terms {
  display: none;
  margin-left: auto;
  margin-right: auto; }
  .cookie-terms .close-button {
    padding-left: 1rem; }
