html {
  box-sizing: border-box;
  height: 100%; }

body {
  min-height: 100%; }

body {
  font-family: Helvetica, Arial, sans-serif;
  padding-bottom: 5rem;
  position: relative; }

.damoy__container {
  margin-bottom: 0;
  padding-top: 1.6rem;
  height: 100%; }
  @media (min-width: 576px) {
    .damoy__container {
      padding-top: 4.25rem; } }

.footer {
  background: white;
  padding: 0 2.5rem;
  max-width: 110rem;
  margin: 0 auto;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0; }

.footer p {
  font-size: .7rem;
  text-transform: uppercase;
  margin-bottom: 1.1rem; }
  @media (min-width: 576px) {
    .footer p {
      font-size: .8rem;
      letter-spacing: .1rem; } }

.footer__made-by {
  color: #95989A; }

.sidebar {
  padding-left: 2rem;
  position: relative; }
  @media (min-width: 576px) {
    .sidebar {
      padding-left: 5rem; } }

.main-content {
  max-width: 110rem;
  margin: 2.1rem auto 0;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  position: relative;
  width: 100%; }
  @media (min-width: 576px) {
    .main-content {
      margin-top: 0; } }

.menu {
  font-size: .75em;
  position: absolute;
  display: none;
  z-index: 10; }
  @media (min-width: 576px) {
    .menu {
      display: block; } }

.menu-link {
  color: #95989A;
  letter-spacing: .1em;
  line-height: 1.6;
  font-size: 1em;
  text-transform: uppercase;
  transition: .2s color; }

.brand-link {
  color: black;
  font-size: 1.3em; }

.menu-link:hover {
  color: black;
  transition: .2s color; }

.menu-item {
  margin-bottom: 1rem; }

.menu-group {
  margin-bottom: 3rem; }

.menu-dropdown.is-collapsed {
  display: none; }

.menu-dropdown {
  margin-top: 1rem; }

.mobile-menu {
  background: white;
  font-size: .8em;
  height: 100%;
  left: 0;
  overflow-y: hidden;
  padding-left: 6.2rem;
  padding-top: 6.2rem;
  position: absolute;
  top: -100%;
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  width: 100%;
  z-index: 10; }
  @media (min-width: 576px) {
    .mobile-menu {
      display: none; } }
  .mobile-menu.is-active {
    top: 0;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    z-index: 10; }

.burger-nav {
  cursor: pointer;
  display: block;
  height: 2.5em;
  position: relative;
  width: 2.5em;
  z-index: 15; }
  @media (min-width: 576px) {
    .burger-nav {
      display: none; } }

.burger-nav__bar {
  background: black;
  display: inline-block;
  left: 50%;
  height: 1px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: background 0s 0.3s;
  width: 1.25em; }
  .burger-nav__bar:after, .burger-nav__bar:before {
    background: black;
    content: '';
    display: inline-block;
    height: 1px;
    position: absolute;
    transition-property: top, transform;
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s;
    width: 1.25em; }
  .burger-nav__bar:after {
    top: .375em; }
  .burger-nav__bar:before {
    top: -.375em; }

.burger-nav.is-active .burger-nav__bar {
  background: transparent; }

.burger-nav.is-active .burger-nav__bar:before,
.burger-nav.is-active .burger-nav__bar:after {
  transition-delay: 0s, 0.3s; }

.burger-nav.is-active .burger-nav__bar:before {
  top: 0;
  transform: rotate(45deg); }

.burger-nav.is-active .burger-nav__bar:after {
  top: 0;
  transform: rotate(-45deg); }

.homepage-image {
  max-width: 14.7rem;
  margin-left: auto; }
  @media (min-width: 576px) {
    .homepage-image {
      max-width: 21rem; } }
  @media (min-width: 768px) {
    .homepage-image {
      max-width: 33.5rem; } }
  @media (min-width: 992px) {
    .homepage-image {
      max-width: 37.5rem; } }

.brand-name {
  color: black;
  display: block;
  font-size: 1.18rem;
  letter-spacing: .2rem;
  position: absolute;
  text-transform: uppercase;
  top: 50%;
  transform: translateY(-50%); }
  @media (min-width: 576px) {
    .brand-name {
      display: none; } }
