.share-dropdown-container {
  display: inline-block;
  margin-left: 22px;
  position: relative;

  @media (min-width: $screen-sm) {
    font-size: 10px;
  }
}

.share-dropdown {
  position: absolute;
  display: none;

  a {
    color: black;
    letter-spacing: .1em;
  }
}
