.pager {
  font-size: 11px;
  color: black;
  text-align: right;
  margin-right: 1.7rem;

  div {
    display: inline-block;
    font-size: 11px;
  }

  a {
    color: black;
    font-size: 10px;
  }

  .disabled {
    display: none;
  }

  @media (min-width: $screen-sm) {
    bottom: 25px;
    color: black;
    letter-spacing: .1em;
    position: absolute;
    margin-right: 0;
    right: 60px;
    z-index: 10;
  }
}
