.product__container {
  max-width: 67.5rem;
  margin: 0 0 0 auto;

  &.show-on-desktop {
    display: none;

    @media (min-width: $screen-sm) {
      display: flex;
    }
  }

  &.show-on-mobile {
    display: flex;
    
    @media (min-width: $screen-sm) {
      display: none;
    }
  }
}

.product__element {
  padding: 0 2.5rem;

  &:first-of-type {
    padding-left: 0;
  }

  &:last-of-type {
    padding-right: 0;
  }
}

.product__info {
  margin-bottom: 5rem;
  max-width: 26.25rem;
  min-height: 45rem;
  padding-top: 6.8rem;
}

.product__title {
  font-size: 1.25rem;
  letter-spacing: .2rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.product__price,
.product__description,
.product__cart--btn {
  font-size: .81rem;
  letter-spacing: .1rem;
  margin-bottom: 1rem;
}

.product__price {
  .currency-symbol {
    padding-right: .4rem;
  }
}

.product__description {
  margin-bottom: 3.6rem;
}

.product__image--container {
  margin-bottom: 5rem;
  max-height: 45rem;
  overflow: hidden;
}

.button.product__cart--btn {
  background: white;
  border: 1px solid black;
  border-radius: 0;
  color: black;
  max-width: 6.5rem;

  &:hover {
    background: white;
    border-color: transparentize(black, .3);
    color: transparentize(black, .3);
  }
}
