.product__container {
  max-width: 67.5rem;

  @media (min-width: $screen-sm) {
    margin: 0 0 0 auto;
  }

  &.show-on-desktop {
    display: none;

    @media (min-width: $screen-sm) {
      display: flex;
    }
  }

  &.show-on-mobile {
    padding-right: 30px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;

    @media (min-width: $screen-sm) {
      display: none;
    }
  }
}

.product__element {
  padding: 0 2.5rem;

  &:first-of-type {
    padding-left: 0;
  }

  &:last-of-type {
    padding-right: 0;
  }
}

.product__info {
  display: block;
  flex: 1 1 auto;

  @media (min-width: $screen-sm) {
    margin-bottom: 5rem;
    max-width: 26.25rem;
    min-height: 45rem;
    padding-top: 6.8rem;
  }
}

.product__title {
  font-size: 1.25rem;
  letter-spacing: .2rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.product__price,
.product__description,
.product__cart--btn {
  font-size: .81rem;
  letter-spacing: .1rem;
  margin-bottom: 1rem;
}

.product__price {
  .currency-symbol {
    padding-right: .4rem;
  }
}

.product__description {
  margin-bottom: 3.6rem;
}

.product__image--container {
  margin-bottom: 5rem;
  max-height: 45rem;
  overflow: hidden;
}

.button.product__cart--btn {
  background: white;
  border: 1px solid rgba(0,0,0,.5);
  border-radius: 0;
  color: #303030;
  height: 40px;
  font-size: 13px;
  width: 100%;
  flex: 0 1 auto;
  max-width: 130px;

  @media (min-width: $screen-sm) {
    max-width: 6.5rem;
  }

  &:hover {
    background: white;
    border-color: transparentize(black, .3);
    color: transparentize(black, .3);
  }

  &:active {
    background: white;
    border-color: transparentize(black, .3);
    color: transparentize(black, .3);
  }

  &:last-of-type {
    margin-left: auto;
  }
}

.add-cart-form {
  display: flex;
}

.product__image--carousel {
  width:18.4rem;
  margin:20px auto;
  text-align: center;
  position: relative;
  color:white;
  display:flex;
  justify-content: center;
  align-items: center;
  flex: 1 100%;
  flex-wrap: wrap;
  height: 25rem;
  overflow: hidden;

  .slide{
    display:flex;
    flex: 1 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  img{
    display: block;
    margin:auto;
  }

  .prev-arrow,
  .next-arrow {
    color: black;
    position: absolute;
    cursor: pointer;
    height: 100%;
    z-index: 100;
    width: 40px;
  }

  .prev-arrow {
    left: 0;
  }

  .next-arrow {
    right: 0;
  }

  .arrow {
    width: 40px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    left: 0;
  }
}

.product__details {
  display: none;
  text-align: center;

  &.show {
    display: block;
  }

  p {
    line-height: 2;
  }
}

.product-info__menu {
  border-bottom: 1px solid #95989A;
  display: flex;
  padding: 10px 0;
  margin: 30px 0 10px;
}

.product-info__menu-item {
  color: transparentize(#303030, .5);
  flex: 1 1 auto;
  font-size: 12px;
  letter-spacing: .1em;
  text-align: center;

  &:hover {
    color: #303030;
  }

  &.active {
    color: #303030;
  }
}
