.product__container {
  max-width: 67.5rem;

  @media (min-width: $screen-sm) {
    margin: 0 0 0 auto;
  }

  &.show-on-desktop {
    display: none;

    @media (min-width: $screen-sm) {
      display: flex;
    }
  }

  &.show-on-mobile {
    padding-right: 30px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;

    @media (min-width: $screen-sm) {
      display: none;
    }
  }
}

.product__element {
  padding: 0 1.8rem;

  @media (min-width: $screen-sm) {
    display: flex;
    flex-direction: column;
  }

  &:first-of-type {
    padding-left: 0;
  }

  &:last-of-type {
    padding-right: 0;
  }
}

.product__info {
  display: block;
  flex: 1 1 auto;
  margin-top: 65px;

  @media (min-width: $screen-sm) {
    margin-bottom: 3.3rem;
    margin-top: 0;
    max-width: 23.5rem;
    max-height: 34rem;
    padding-top: 5.6rem;
    position: relative;

    &.product__info--extra-info {
      padding-top: 0;
    }
  }
}

.product__title {
  font-size: 1.25rem;
  letter-spacing: .2rem;
  margin-bottom: 1rem;
  text-transform: uppercase;

  @media (min-width: $screen-sm) {
    font-size: 16px;
    letter-spacing: .2em;
    margin-bottom: .6em;
  }
}

.product__price,
.product__description,
.product__cart--btn {
  font-size: 11px;
  letter-spacing: .1em;
  margin-bottom: 1rem;

  @media (min-width: $screen-sm) {
    margin-bottom: 1.4em;
  }
}

.product__price {
  .currency-symbol {
    padding-right: .4rem;
  }
}

.product__description {
  margin-bottom: 3.6rem;
  padding-right: 70px;
  line-height: 1.3;
}

.product__image--container {
  flex: 1 1 auto;
  margin-bottom: 5rem;
  max-height: 45rem;
  overflow: hidden;

  @media (min-width: $screen-sm) {
    max-width: 23.5rem;
    margin-bottom: 3.3rem;
    max-height: 34rem;
  }
}

.button.product__cart--btn {
  background: white;
  border: 1px solid rgba(0,0,0,.5);
  border-radius: 0;
  color: #303030;
  height: 40px;
  font-size: 13px;
  width: 100%;
  flex: 0 1 auto;
  max-width: 110px;

  &:first-of-type {
    @media (min-width: 350px) {
      margin-right: 5px;
    }
  }

  @media (min-width: 350px) {
    max-width: 125px;
  }

  @media (min-width: $screen-sm) {
    max-width: 5rem;
    height: 25px;
    line-height: 25px;
    font-size: 10px;
  }

  &:hover,
  &:active,
  &:focus {
    background: white;
    border-color: transparentize(black, .3);
    color: transparentize(black, .3);
  }

  &:last-of-type {
    float: right;

    @media (min-width: $screen-sm) {
      margin-left: 20px;
      float: none;
    }
  }
}

.cart-button-container {
  display: flex;
}

.product__image--carousel {
  // max-width: 18.4rem;
  margin:20px auto;
  text-align: center;
  position: relative;
  color:white;
  display:flex;
  justify-content: center;
  align-items: center;
  flex: 1 100%;
  flex-wrap: wrap;
  height: auto;
  overflow: hidden;
  width: 100%;

  .slide{
    display:flex;
    flex: 1 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  img{
    display: block;
    margin:auto;
  }

  .prev-arrow,
  .next-arrow {
    color: black;
    position: absolute;
    cursor: pointer;
    height: 100%;
    z-index: 100;
    width: 40px;
  }

  .prev-arrow {
    left: 0;
  }

  .next-arrow {
    right: 0;
  }

  .arrow {
    width: 40px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    left: 0;
  }
}

.product__details {
  display: none;
  text-align: center;

  @media (min-width: $screen-sm) {
    text-align: left;
    padding-top: 25px;
  }

  &.show {
    display: block;
  }

  p {
    line-height: 2;
    letter-spacing: .1em;

    @media (min-width: $screen-sm) {
      line-height: normal;
      margin-bottom: 16px;
      font-size: 11px;
    }
  }

  a {
    color: #303030;
    display: inline-block;
    padding: 3px 0;

    &:hover {
      color: transparentize(#303030, .5);
    }
  }
}

.product-info__menu {
  border-bottom: 1px solid #95989A;
  display: flex;
  padding: 10px 0;
  margin: 30px 0 10px;

  @media (min-width: $screen-sm) {
    border-bottom: 0;
    margin-top: 0;
    padding-top: 0;
  }
}

.product-info__menu-item {
  color: transparentize(#303030, .5);
  flex: 1 1 auto;
  font-size: 12px;
  letter-spacing: .1em;
  text-align: center;

  @media (min-width: $screen-sm) {
    flex: 0 1 auto;
    font-size: 10px;
    margin-left: 11px;
    margin-right: 11px;

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  &:hover {
    color: #303030;
  }

  &.active {
    color: #303030;
  }
}
