.main-content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
  padding: 2.2rem 2.5rem 0;
  position: relative;

  @media (min-width: $screen-sm) {
    flex-direction: row;
    margin-top: 0;
    padding-top: 0;
  }
}

.content__pages {
  color: #303030;
  font-size: .82rem;
  flex: 1 1 auto;
  align-self: center;

  h1 {
    letter-spacing: .2em;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }

  p {
    letter-spacing: .1em;
  }

  a {
    color: #303030;
  }
}
