.main-content {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  margin: 2.1rem auto 0;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;

  @media (min-width: $screen-sm) {
    margin-top: 0;
  }
}

.content__pages {
  color: #303030;
  font-size: .82rem;
  flex: 1 1 auto;
  align-self: center;

  h1 {
    letter-spacing: .2em;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }

  p {
    letter-spacing: .1em;
  }

  a {
    color: #303030;
  }
}
