// Prefixing due to nameclash with bulma
.damoy__container {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  padding-top: 1.6rem;
  height: 100%;

  @media (min-width: $screen-sm) {
    flex-direction: row;
    padding-top: 4.25rem;
  }
}
