.footer {
  background: white;
  display: flex;
  flex-direction: row;
  padding: 0 2.5rem 0;
  position: relative;
  margin-top: 3rem;
  width: 100%;
}

.footer p {
  font-size: .7rem;
  text-transform: uppercase;
  margin-bottom: 1.1rem;

  @media (min-width: $screen-sm) {
    font-size: .8rem;
    letter-spacing: .1rem;
  }
}

.footer__made-by {
  color: #95989A;
}

.footer__aligned {
  flex: 0 1 auto;
}

.footer__aligned--left {
  // align-self: flex-start;
}

.footer__aligned--center {
  // align-self: center;
  // text-align: center;
}

.footer__aligned--right {
  margin-left: auto;
}
