.footer {
  background: white;
  bottom: 0;
  display: flex;
  flex-direction: row;
  padding: 0 2.5rem 0;
  position: absolute;
  margin-top: 3rem;
  width: 100%;

  @media (min-width: $screen-sm) {
    position: relative;
  }

  .eupopup-container-bottom {
    bottom: 0;
    top: inherit;

    @media (min-width: $screen-sm) {
      top: 0;
    }
  }
}

.footer p {
  font-size: .7rem;
  text-transform: uppercase;
  margin-bottom: 1.1rem;

  @media (min-width: $screen-sm) {
    font-size: .8rem;
    letter-spacing: .1rem;
  }
}

.footer__made-by {
  color: #95989A;
}

.footer__aligned {
  flex: 0 1 auto;
}

.footer__aligned--right {
  margin-left: auto;
}

.footer__aligned--left,
.footer__aligned--right {
  display: none;
}

@media (min-width: $screen-sm) {
  .footer__aligned--left,
  .footer__aligned--right {
    display: block;
  }
}
