.footer {
  background: white;
  bottom: 0;
  display: none;
  padding: 3rem 0 0;
  position: relative;
  width: 100%;

  @media (min-width: $screen-sm) {
    display: block;
  }
}

.footer p {
  font-size: .8rem;
  letter-spacing: .1rem;
  text-transform: uppercase;
  margin-bottom: 1.1rem;
}

.footer__made-by {
  color: #95989A;
}
