.pages__column {
  flex: 0 1 auto;
  margin-bottom: 1rem;

  @media (min-width: $screen-sm) {
    margin-bottom: 0;
  }
}

.pages--about {
  margin-top: -5px;
  max-width: 180px;
  width: 100%;

  @media (min-width: $screen-sm) {
    margin-top: 0;
    max-width: 48.5em;
    padding-left: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.pages--store,
.pages--assistance {
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: $screen-sm) {
    flex-direction: row;
  }
}

.pages--store {
  .pages__column {
    margin-bottom: 0;
    width: 180px;

    @media (min-width: $screen-sm) {
      width: initial;
    }
  }

  .pages__column:first-of-type {
    @media (min-width: $screen-md) {
      margin-right: 2rem;
    }

    @media (min-width: $screen-lg) {
      margin-right: 5rem;
    }

    @media (min-width: $screen-xxl) {
      margin-right: 11.25rem;
    }
  }

  .pages__column:last-of-type {
    @media (min-width: $screen-md  ) {
      margin-left: 2rem;
    }

    @media (min-width: $screen-lg) {
      margin-left: 5rem;
    }

    @media (min-width: $screen-xxl) {
      margin-left: 11.25rem;
    }
  }
}

.pages--assistance {
  p {
    margin-bottom: 1rem;
  }

  h1 {
    letter-spacing: .1em;
  }

  .pages__column {
    width: 180px;

    @media (min-width: $screen-sm) {
      width: 15em;
      margin-left: 3em;
      margin-right: 3em;
      padding: 0;
    }
  }
}

.pages--lookbook {
  display: flex;
  flex-direction: column;
  margin-left: -1em;
  margin-right: -1em;

  img {
    flex: 0 1 auto;
    display: block;
  }

  img:nth-child(4n), img:nth-child(4n-1) {
    width: 37%;
  }

  img:nth-child(4n-2), img:nth-child(4n-3) {
    width: 63%;
    margin-left: auto;
  }
}
