.pages--about {
  max-width: 42.5rem;
  width: 100%;
}

.pages--store {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: $screen-sm) {
    flex-direction: row;
  }

  .pages__column:first-of-type {
    @media (min-width: $screen-md) {
      margin-right: 2rem;
    }

    @media (min-width: $screen-lg) {
      margin-right: 5rem;
    }

    @media (min-width: $screen-xxl) {
      margin-right: 11.25rem;
    }
  }

  .pages__column:last-of-type {
    @media (min-width: $screen-md  ) {
      margin-left: 2rem;
    }

    @media (min-width: $screen-lg) {
      margin-left: 5rem;
    }

    @media (min-width: $screen-xxl) {
      margin-left: 11.25rem;
    }
  }
}

.pages__column {
  flex: 0 1 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
