.sidebar {
  flex: 0 1 auto;
  padding-left: 2rem;
  position: relative;
  white-space: nowrap;

  @media (min-width: $screen-sm) {
    padding-left: 3rem;
  }

  @media (min-width: $screen-md) {
    padding-left: 5rem;
  }
}
