.homepage-image {
  max-width: 14.7rem;
  margin-left: auto;

  @media (min-width: $screen-sm) {
    max-width: 20rem;
    margin-right: 1.5rem;
  }

  @media (min-width: $screen-md) {
    max-width: 30.5rem;
  }

  @media (min-width: $screen-lg) {
    max-width: 37.5rem;
  }
}

.product-image {
  display: block;
  margin-left: auto;
  margin-bottom: .625rem;
  max-width: 14.7rem;

  &.product-image--large {
    max-width: 14.7rem;
    display: block;
  }
}

@media (min-width: $screen-sm) {
  .product-image {
    display: inline-block;
    margin-left: 0;
    margin-bottom: 0;
    max-width: 20rem;
    padding: .05rem;
    width: 50%;

    &.product-image--large {
      margin-bottom: 6.5rem;
      max-width: 25rem;
      width: 100%;
    }
  }
}
