.homepage-image {
  max-width: 14.7rem;
  margin-left: auto;

  @media (min-width: $screen-sm) {
    max-width: 21rem;
  }

  @media (min-width: $screen-md) {
    max-width: 33.5rem;
  }

  @media (min-width: $screen-lg) {
    max-width: 37.5rem;
  }
}

.product-image {
  max-width: 20rem;

  &.product-image--large {
    margin-bottom: 6.5rem;
    max-width: 25rem;
  }
}
