.homepage-image {
  width: 14.7rem;
  margin-top: 5px;
  margin-left: auto;

  @media (min-width: $screen-sm) {
    width: 41.5em;
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 5em;
  }
}

.product-image {
  display: block;
  margin-left: auto;
  margin-bottom: .625rem;
  max-width: 14.7rem;

  &.product-image--large {
    max-width: 14.7rem;
    display: block;
  }
}

@media (min-width: $screen-sm) {
  .product-image {
    display: inline-block;
    margin-left: 0;
    margin-bottom: 0;
    max-width: 20rem;
    padding: .05rem;
    width: 50%;

    &.product-image--large {
      margin-bottom: 6.5rem;
      max-width: 25rem;
      width: 100%;
    }
  }
}
